@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Cyberpunk Dark Theme */
body {
  background-color: #020617; /* Very Dark Slate */
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 3px;
}